<style>
  .modal-content {
    background-color: #212121;
    color: white;
  }
</style>

<!-- Accept Order -->
<div class="modal fade" id="Modal-AcceptingOrder-{{ new_order.id }}"
     tabindex="-1"
     aria-labelledby="ModalLabel-Accepting-{{ new_order.id }}"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel-Accepting{{ new_order.id }}">
          {{ new_order.service.service_name }}
        </h5>
        <button type="button" class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {{ accepting_order_form.hidden_tag() }}
          <h4 class="text-center mb-3">
            Are you sure you want to  accept <strong>{{ new_order.service.service_name }}</strong> booking order ?
          </h4>
          <h6 class="text-center mb-4">
            By clicking, you will accept this order.
          </h6>
          <input id="accept_order" name="accept_order" type="hidden" value="{{ new_order.id }}">
          {{ accepting_order_form.submit(class="btn btn-outline-danger w-100") }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
